/* 
PALLET
purple-ish: 413C58
blue-ish: A3C4BC
green-ish: BFD7B5
yellow-ish: E7EFC5
orange-ish: F2E7C9
*/

body {
  background-color: #f2e7c9;
}

.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

table {
  width: 100%;
}

.title {
  background-color: #a3c4bc;
  font-family: "MyFont", cursive;
  font-size: 100px;
  text-align: left;
  padding: 20px;
  justify-content: right;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

img {
  justify-content: right;
  width: 120px;
  padding: 10px;
  justify-content: center;
}

.res {
  display: flex;
  justify-content: center;
  display: inline-block;
  margin: 20px;
  max-width: 500px;
  padding: 16px;
  background-color: #e7efc5;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.addtInfo {
  border-style: solid;
  border-width: medium;
  justify-content: center;
  padding: 20px;
  background-color: #6dc2892d;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.btn {
  justify-content: center;
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/Waterfall-Regular.ttf");
}
